/*Стили для формы статьи*/

.add_article{

  margin-bottom: 15px;

}

.add_article a
{
  font-size:  18px;
  color:      #222222;
}
.add_article a:hover
{
  text-decoration: underline;
}

.cd-form
{
  padding:        1.4em;
  margin:         0px  60px 50px 0px;
  border:         solid 1px #f1f1f1;
  width:          90%;
  max-width:      500px;
  background:     #f8f8f8;

}

.cd-form .fieldset 
{
  position:       relative;
  margin:         1.4em 0;
  
}
.cd-form .fieldset:first-child 
{
  margin-top:     0;
}
.cd-form .fieldset:last-child 
{
  margin-bottom:  0;
}

.cd-form input
{
  margin:       0;
  padding:      0;
  
}

textarea
{  
  width:          100%;
  resize:         none;
  outline:        none;
  -moz-appearance:none;
  border:         1px solid #999; 
  }


.cd-form input.has-padding{
  padding:5px;
}

.cd-form input.has-border:focus 
{
  border-color:     #343642;
  outline:          none;
}


.cd-form input[type=submit]
{
  padding:              8px;
  cursor:              pointer;
  background:           #2f889a;
  color:                #FFF;
  font-weight:          bold;
  border:               none;
  -webkit-appearance:   none;
  -moz-appearance:      none;
  -ms-appearance:       none;
  -o-appearance:        none;
  appearance:           none;
}
.cd-form input[type=submit]:hover,  .cd-form input[type=submit]:focus 
{
  background:   #3599ae;
  outline:      none;
}


.header_content
{
  padding: 20px;
}

 p
 {
  padding-bottom:   15px;
  font-size:        16px;
  max-width:        800px;
}