/*Стили для формы регистрации и авторизации участников*/

 .login .logout
 {
  width:          250px;
  border:         solid 1px #d2d8d8;
  padding:        20px 20px;
 }

.input_log
{
  width:          250px;
  padding:        13px 5px;
  background:     #FFF;
  margin-bottom:  10px;
  font-size:      14px;
  border:         solid 1px #d2d8d8;
  color:          #656565;
  
}


.reg_form 
{
  padding:        10px 20px;
  border:         1px solid #e1e1e1;
}

.reg_body span p 
{
font-size:      26px;
text-align:     center;
color:          #20b0c8;
}

.reg_body 
{
  border:         1px solid #e1e1e1;
  background:     #fcfcfc;
  padding:        20px 50px 0px 50px;
}

.reg_body p
{
  line-height:    1.5;
  text-align:     justify;
  font-size:      18px;
}

input, textarea 
{
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-size: 1rem;
}

input::-ms-clear, textarea::-ms-clear
{
  display: none;
}


table
{
  width: 			100%;
  border-spacing:   0  12px;
  font-family:	   "ClinicaPro-Regular";
  font-size: 	   16px;
  padding-right:   200px;

}

td
{
  color: #40566c;
}


.input_login
{
  float:          right;
  padding: 		  8px 0;
  background: 	  #FFF;
  font-size:      14px;
  border: 		  solid 1px #d2d8d8;
  color: 		  #656565;
  width:          100%;
  max-width:      400px;
}

.input_login:focus, .input_log:focus
{
  border-color: 	 #343642;
  box-shadow: 	 0 0 5px rgba(52, 54, 66, 0.1);
  outline: 		     none;
}



.submit
{
  margin-top:      20px;
  padding:         10px 20px;
  font-size:       14px;
  background:      #20b0c8;
  color:           #FFF;
  border:          none;
  letter-spacing:  1px;
}

.submit_log
{ 
  margin-top:     20px;
  padding:        13px 20px;
  font-size:      14px;
  width:          250px;
  background:     #20b0c8;
  color:          #FFF;
  border:         none;
  letter-spacing: 1px;
}

.submit:hover, .submit_log:hover
{
	background: 		#3599ae;
}

/* The CSS */
select 
{
    padding:    8px 0;
    width:      100%;
    max-width:  465px;
    float:      right;
    background: #f9f9f9;
    color:      #40566c;  
}

.fieldset
{
  margin-bottom:  10px;
}