* { 
	margin:			0;
	padding: 		0;
	outline: 		none;
} 

body {
	font-family: 	"ClinicaPro-Regular";
	color: 			#404045;
	width: 			100%;
	font-size: 		100%;
	padding: 		0; /* Отступы для браузера Opera */ 
    margin: 		0; /* Обнуляем значения отступов на веб-странице */ 
}


a {
	
	text-decoration: none;
	color: 	#444444;
	
}

a:hover{
	
	color:#222222;
}

img {
  max-width: 100%;
}



 @font-face {
   
    font-family: 	'ClinicaPro-Regular'; /* Гарнитура шрифта */
    src: 		  	url('../fonts/ClinicaPro-Regular.otf'); /* Путь к файлу со шрифтом */
   
   }


/*устанавливаем стиль для нашей стр в окне браузера*/
#page_align {
	
	background:	 		#f9f9f9;
	overflow: hidden;
}

/*------------------------------START HEADER----------------------------*/
/*Cоздание шапки сайта*/
#header_top {
	
	height: 		80px;
	background:		#54c5d5;
	padding-top: 	15px;
	padding-left: 	50px;
	
}

/*Название сайта*/
h1 {
	
	font-size: 		28px;
	font-family: 	"ClinicaPro-Regular";
	letter-spacing: 4px;
	font-weight: 	bold;
	
}

/*надпись под логотипом*/
.h1description{
	
	color:  		#FFF;
	font: 			14px "ClinicaPro-Regular";
	letter-spacing: 1px;

}

/*Положение и стиль кнопок входа и регистр. */
.reg_and_auth{

    font-family: 	"PT Sans", sans-serif;
    color: 			#505260;
    margin-left: 	80%;  	
}

.menu{
	
	float:			right;
}
.menu li{

	font-size: 		14px;
	float:			left;
	display: 		inline-block;
	margin-right: 	25px;
	
	
}

.menu li a{
	
	color:		 	#FFF;
	display:		inline-block;
	line-height: 	30px;
	padding: 		0px 10px;

}

.menu li a:hover{

	text-decoration: underline;
}

.menu a.signin {
 
 	background: 		none;

 }

/*Coздание главного меню*/
#header_nav{
	
	height: 		35px;
	background: 	#3c4f5e;

}


#header_nav{
	list-style:none;
}

#header_nav li{
	
	font-size: 		14px;
	float:			left;
	position:		relative;
	display:		block;
	border-right: 	solid 1px #545d64;
	letter-spacing: 1px;
}

#header_nav li:last-child {
	border-right: 	none;
}

/*создаем стиль для списка*/
#header_nav li a{
	
	color:		 	#FFF;
	display:		block;
	line-height: 	35px;
	padding: 		0px 35px;
	
}

#header_nav li a:hover{
	
	background: 	rgba(0,0,0,.05);
}

#header_nav ul{
	
	
	list-style:			none;
	position:			absolute;
	left:				-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
	opacity:			0; /* Устнавливаем начальное состояние прозрачности */
	-webkit-transition:	0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
}

	/* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
#header_nav ul li{

	float:				none;
	border-right: 		none;

}

#header_nav ul li:last-child {

	border-bottom: 		none;

}
 /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
#header_nav ul a{
	white-space:		nowrap;
	display:			block;
}
#header_nav li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
	
	background: 		#336E7B;
	left:				0; /* Приносим его обратно на экран, когда нужно */
	opacity:			1; /* Делаем непрозрачным */

}


/* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
#header_nav li:hover a{ 
	
	color: 				#FFF;
	background: 		#446279;

}

/* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
#header_nav li:hover ul a{ 
	
	background: 			#222e33;
	-webkit-transition:		-webkit-transform 0.075s linear;
	color:					#FFF;

}

/* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
#header_nav li:hover ul li a:hover{ 
	
	background:		#446279;
	color:		 	#FFF;
}

/*------------------------------END HEADER----------------------------*/

.box{
	
width: 			100%;
box-shadow: 	0 4px 5px -3px rgba(0, 0, 0, .1);
font-size:		18px;
padding-bottom: 20px;
background: 	#fff;
border-bottom: 	1px solid #e1e1e1;
padding: 		15px 0;
padding-left: 	70px;


}

.box a{

	color: 383838;

}

.box a:hover
{

	text-decoration: underline;
}
/*------------------------------START SIDEBAR----------------------------*/

#sidebar
{	
	
  	float: right;
	background:		#f9f9f9;
	border-left: 	1px solid  #e1e1e1;
	 
 	width: 29%;



}

.sb_header
{
	height: 			36px;
	background: 		#0583ca;
	color: 				#ffffff;
	border-radius: 		2px;
	font-size:			14px;
	letter-spacing: 	1px;
	line-height: 		36px;
	text-align: 		center;
	max-width: 			300px;
	width: 				100%;
	margin: 			80px 40px 0px 30px;

	

}

.sb_nav{

	width: 				100%;
	max-width: 			300px;
	color: 				#383838;
	font-size: 			12px;
	padding-bottom: 	5px;
	margin: 			5px 40px 0px 30px;
}

.sb_news{

	display: 		block;
	border-bottom: 	1px solid  #e1e1e1;
	margin-bottom: 	10px;
	font-family: 	Helvetica,Arial,sans-serif;	
}

.sb_nav span{
	font-size:14px;
}



.sb_title_news, .sb_date_news, .sb_img{
	color:				#9f9f9f;
	margin-left: 		20px;
	margin-top: 		5px;	
}




.sb_author_news {
	
	text-decoration: underline;
	color: 			#20b0c8;
	margin-left: 	20px;

}


.sb_readMore_news{

	margin-top: 		8px;
	margin-bottom: 		10px;
	margin-left: 		20px;
}

.sb_readMore_news a{

	background: 		#20b0c8;
	padding: 			3px 5px;
	color: 				#FFF;
}
/*------------------------------END SIDEBAR----------------------------*/


/*------------------------------START CONTENT----------------------------*/
#content {
	background:	 		#fFF;
	margin-right: 		29%;
	border-right: 		1px solid #e1e1e1;
}

.content_body{
	
	padding: 0px 40px 20px 70px;
	
}

/*------------------------------END CONTENT---------------------------*/



/*------------------------------START FOOTER---------------------------*/
#footer{

	background: 	#FFF;
  	border-top:  	solid 1px #cccccc;
  	height: 		60px;
	
}

/*------------------------------END FOOTER---------------------------*/
.clr{
	clear: 			both;
}

