/*Стили для Цели Союза*/
.aim_block1{

	background: #fff;
	margin:		0px  60px 0px 0px;

}

.aim_content{
	
	font-size: 		28px;
	color: 			#222222;
	margin-bottom: 	15px;
	margin-top: 	25px;
}

.aim_decr p{
font-size:			18px;
line-height: 		1.5;
margin-bottom: 		10px;
padding: 			0px 0px;
color: 				#404045;	
}


.aim_spisok li {

	display:		block;
	line-height: 	1.5;
	padding: 		0px 0px;
	margin-bottom: 10px;
	font-size: 		18px;
	color: 			#404045;
}


