
/*Стили для формы краткой статьи*/
.style_article {

	border-bottom:  	solid 1px #e1e1e1;
	width: 				100%;
	margin-bottom: 		40px;
	margin-top: 		50px;
	line-height: 		1.5;
	font-size: 			18px;
	padding-bottom: 	20px;
	 overflow: 			hidden;
}

.text{ 
 overflow: 			hidden;
 margin-bottom: 	10px;
 padding-right: 	20px;

}


.image_article{

	float: left;
}

.title{
	
	padding-bottom: 	15px;
	padding-right: 		15px;
				
}

.title a{

	font-size: 			20px;
	color:#20b0c8;
}

.title a:hover{

	text-decoration: underline;
}


.descr
{

	font:			14px;
	color: 			#7b8997;
	
}
.profile_article{

	font-size:		14px;
	color: 			#888888;
}

.profile_article a{
	
	color: #888888;

}

.profile_article a:hover{

	text-decoration: underline;
	color: #888888;
}


.article_comment{

	margin-left: 15px;
}

